name: Build and Publish Docker Image

on:
  push:
    branches: [ "main" ]
    paths:
      - 'docker-images/minecraft/paper/**'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/minecraft-paper

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        java-version: [8, 11, 17, 21]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./docker-images/minecraft/paper
          push: true
          build-args: |
            JAVA_VERSION=${{ matrix.java-version }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:java${{ matrix.java-version }}
            ${{ matrix.java-version == 17 && format('{0}/{1}:latest', env.REGISTRY, env.IMAGE_NAME) || '' }}
